doctype html
html
  head
    title
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    link()
  body
    navbar.nav
      ul
        a(href="/")
          li Home
        a(href="/about")
          li about
        a(href="#profile")
          li profile
        a(href="/login")
          li login  
    block content
