extends layout.pug
block content
  form(method="post" action="")
    .form-group
      label username
      input.form-control(username="username", type="text", placeholder="your username")
    .form-group
      label password
      input.form-control(password="password", type="text", placeholder="enter password")  